watch_file Cargo.toml
watch_file Cargo.lock
watch_file flake.nix
watch_file flake.lock
PROFILE_DIR=$(direnv_layout_dir)
mkdir -p $PROFILE_DIR
eval "$(nix print-dev-env --profile "$PROFILE_DIR/flake-profile")"
